global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        maxconn 10000
        log     global
        mode    tcp
        option  tcplog
        timeout connect 5000
        timeout client  50000
        timeout server  50000


frontend stats
        mode http
        bind *:8404
        acl monitoring-whitelist src -f /etc/haproxy/monitoring-whitelist.lst
        http-request deny if !monitoring-whitelist
        stats enable
        stats uri /stats
        stats refresh 10s

frontend prep-proxy-7100
        bind *:7100

        acl whitelist src -f /etc/haproxy/whitelist.lst
        tcp-request content reject if !whitelist

        #Stick table for storing behavior of incoming IPs.
        stick-table type ip size 200k expire 5m store  gpc0,conn_rate(10s),http_req_rate(10s)

        #IPs that have gpc0 > 0 are blocked until they go away for at least 5 minutes.
        acl source_is_abuser src_get_gpc0 gt 0
        tcp-request content reject if source_is_abuser

        #Block connection rate abusers.
        acl conn_rate_abuse  sc1_conn_rate gt 500
        acl mark_as_abuser   sc1_inc_gpc0  ge 0
        tcp-request content track-sc1 src
        tcp-request content reject if conn_rate_abuse mark_as_abuser

        use_backend prep-node-7100

frontend prep-proxy-9000
        bind *:9000

        acl whitelist src -f /etc/haproxy/whitelist.lst
        tcp-request content reject if !whitelist

        #Stick table for storing behavior of incoming IPs.
        stick-table type ip size 200k expire 5m store  gpc0,conn_rate(10s),http_req_rate(10s)

        #IPs that have gpc0 > 0 are blocked until they go away for at least 5 minutes.
        acl source_is_abuser src_get_gpc0 gt 0
        tcp-request content reject if source_is_abuser

        #Block connection rate abusers.
        acl conn_rate_abuse  sc1_conn_rate gt 500
        acl mark_as_abuser   sc1_inc_gpc0  ge 0
        tcp-request content track-sc1 src
        tcp-request content reject if conn_rate_abuse mark_as_abuser

        use_backend prep-node-9000

backend prep-node-7100
        server node1 127.0.0.2:7200 maxconn 250

backend prep-node-9000
        server node1 127.0.0.2:9100 maxconn 250
